@use '../../styles/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Header {
  display: flex;
  
  height: 15rem;
  width: 100%;

  .photo {
    height: 100%;
    width: 25%;
    border-right: solid black 1px;
  }

  .name {
    height: 4rem;
    color: rgba(255, 255, 255, 0.897);
    background-color: #e9844198;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding-left: 7.5rem;
    box-shadow: inset 0px 0px 5px 2px  #e9844165; 


  }

  .job {
    height: 4rem;

    color: rgba(255, 255, 255, 0.897);
    background-color: #e98441bb;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding-left: 7.5rem;
    box-shadow: inset 0px 0px 5px 2px  #e984414b; 

  }

  .Navbar_Container {
    height: 7rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }

  .NavBar_List {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .NavBar_Item {
    height: 100%;  /* Prend toute la hauteur du conteneur */
    width: calc(100% / 4); /* Si vous avez 5 éléments, cela garantira que chaque élément prendra 1/5 de la largeur totale, les rendant carrés */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    }

   .Header-Right {
    width: 100%;
    flex-grow: 1;

   } 

   .Nav-Home {
    background-color: #eec5b7;


   }
   .Nav-Cv {
    background-color: 	#ffcebeb9;
   }
   .Nav-Portofoglio {
    background-color: #ffe9f0;
   }
   .Nav-Contact {
    background-color: #ffe3c05d;
   }

}



.FirstBlock {
  background-color: rgba(255, 0, 0, 0.164);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.Competence {
  grid-column: span 3;
}

.InfoPerso {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: span 2;
}

.infoList {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
}


// ------------------ PAGE HOME ------------------ //
.Home {
  display: flex;
  flex-direction: row;


}

.Home-Left{
  width: 60%;
  display: flex;
  flex-direction: column;
  border-right: solid black 1px;
  background: #FBE0C3;


  
}

.Home-Left-First {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  padding-left: 5rem;
  gap: 5rem;
}

.Logo-Container {

  padding-left: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative; 
  height: 6.5rem;

}

.Logo {

}

.Logo img {
  width: 100%;  /* prend la largeur complète du conteneur parent */
  height: auto; /* pour garder l'aspect ratio de l'image */
  border-radius: 50%;
  display: block; /* pour éliminer tout espace blanc autour de l'image */
  width: 3.5rem;
  height: 3.5rem;
}


.Logo-Title {
  position: absolute;
  left: 0;
}

.Home-Right {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color:  rgba(250, 161, 66, 0.349);
  padding: 0.20rem;

}

.Title-Right {
  background-color: rgba(2, 2, 2, 0.705);
  color: white;
  height: 2rem;
  display: flex;
  flex-direction: column;

}

.Home-Left-tile {
  
  align-self: center;
}


.Description {
  font-family: 'Montserrat', sans-serif;
  text-indent: 2em;
}





.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}
